**

!app/**
!bootstrap/app.php
!bootstrap/cache/.gitignore
!config/**
!database/**
!imports/**
!packages/**
!public/**
!storage/app/public/.gitignore
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
!routes/**

!artisan
!aliases
!composer.json
!composer.lock

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
